* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    font-family: cursive;
    scroll-behavior: smooth;
    background-color: #eff7ff;

}

hr {
    border: 1px dashed rgb(167, 167, 167);
    margin: 1rem;
}
a{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus,a:visited,a:active{
    outline: none;
}

/* Navbar */

a {
    text-decoration: none;
    color: white;
}

a:hover {
    cursor: pointer;
    color: grey;
}


header {
    margin: 40px auto;
    display: flex;
    justify-content: center;
    padding: 0rem 2rem;
}

.services {
    font-family: system-ui;
    width: 20rem;
    display: flex;
    border-radius: 2rem;
    background-color: black;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.5rem 3rem;
}

.ser {

    color: white;
    display: flex;
    padding: 0.4rem;
    margin: auto;

}

.ser:hover {
    cursor: pointer;
    color: grey;
}

/* Introduction */
.introduction {
    margin-top: 60px;
}

.intro {
    display: flex;
    justify-content: center;
}

#intro1 {
    display: flex;
    margin-bottom: 4px;
}

#intro2 {
    display: flex;
    margin-top: 4px;
    color: rgb(110, 110, 110);
    font-weight: lighter;
}


.Hero {
    display: flex;
    margin: 2rem;
    justify-content: space-around;
    padding: 3rem;
    flex-wrap: wrap;
}

.hero {
    display: inline-grid;
    font-size: 1.9rem;
    margin: 50px;
    font-weight: bold;
}

.hero-text {
    padding-top: 1.1rem;
}

/* Container  */
.container {
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.image {
    display: inline-grid;
    margin: 80px;
}

.ankur {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 1rem;
}

.info {
    display: flex;
    align-items: center;
    background-color: #3a3939;
    color: white;
    margin: 30px;
    font-size: 1.5rem;
    border-radius: 50px;
    padding: 2rem;
    width: 37rem;
    height: max-content;
}

/* Services  */
.Services {
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.Image {
    display: flex;
    margin-inline: auto;
    justify-content: center;
    padding: 10px;
    width: 4rem;
}

#Ser1 {
    display: inline-grid;
    width: 100%;
    justify-content: center;
    margin: 70px 0;
    font-size: 1.1rem;
}

.Ser {
    display: flex;
    justify-content: center;
    width: 350px;
    padding: 10px;
}

p.Ser {
    color: #464646;
    font-size: 1rem;
    margin-bottom: 50px;
}

/* Projects */
.projects {
    margin: 3rem;
    display: grid;
    justify-content: center;
}

.head {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    width: 12em;
    border-radius: 40px;
    color: white;
    background-color: black;
    padding: 10px;
}

.samples {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    flex-wrap: wrap;
}

#sample1,
#sample2 {
    width: 40rem;
}

#sample3,
#sample4,
#sample5 {
    width: 26rem;

}

.more {
    font-family: system-ui;
    background-color: rgb(73, 115, 230);
    color: white;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 0.5rem 2.5rem;
    border-radius: 40px;
    font-size: 1.2rem;
    text-decoration: none;
}

/* Icons */
.icons {
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0;
}

/* End Text */
.endtext {
    display: flex;
    margin: 100px auto;
    justify-content: center;
    font-size: 1.4rem;
    color: #24222c;
}

/* end  */
.end {
    margin: 4rem auto;
    display: flex;
    justify-content: space-evenly;
}

/* footer */
footer{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    font-family: system-ui ;
    font-size: 1rem;
}


/* Media Queries */
@media ((min-width:500px) and (max-width:1000px)) {
    html {
        font-family: 'Akaya Kanadaka', cursive;
    }

    .info {
        font-size: 1rem;
        margin: 0 20px 100px;
    }

    .services {
        
        font-size: 0.9rem;
        padding: 0.7rem;
    }

    p.ser {
        font-size: 25rem;
    }

    #Ser1 {
        margin: 70px 0 30px
    }

    .intro {
        justify-content: center;
    }

    #intro1 {
        justify-items: flex-end;
        font-size: 1.3rem;
    }

    #intro2 {
        font-size: 1em;
    }

    .Hero {
        padding: 1rem;
        margin: 1rem;
    }

    .profile {
        width: 12rem;
    }

    .hero {
        flex-wrap: wrap;
        column-width: auto;
    }

    .hero-text {
        font-size: 1.2rem;
    }

    #hero1,
    #hero2,
    #hero3 {
        width: 8rem;
    }

    #sample1,
    #sample2,
    #sample3,
    #sample4,
    #sample5 {
        width: 26rem;
    }

    .icons {
        margin: 30px 0;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .icon {
        width: 4rem;
    }

    .endtext {
        font-size: 1.2rem;
    }

}

@media ((max-width:500px)) {
    html {
        font-family: 'Akaya Kanadaka', cursive;
    }

    a:hover{
        color: white;
    }
    .ser:hover{
        color: white;
    }

    .services {
        
        font-size: 0.6em;
        padding: 0.5rem 1.5rem;
        width: 19em;
    }

    p.ser {
        font-size: 25rem;
    }

    .Services{
        margin-bottom: 0;
    }

    #Ser1 {
        margin: 70px 0 30px;
        font-size: 0.65rem;
    }

    .Ser {
        width: 15rem;
        font-size: 1rem;
        text-align: center;
    }

    .intro {
        justify-content: center;
    }

    #intro1 {
        justify-items: flex-end;
        font-size: 1rem;
    }

    .hero {
        flex-wrap: wrap;
        margin: 1.2rem;
    }

    #intro2 {
        font-size: 0.9rem;
    }

    .Hero {
        padding: 0.8rem;
        margin: 0.8rem;

    }

    #hero1,
    #hero2,
    #hero3 {
        width: 6.5rem;
    }

    .hero-text {
        font-size: 0.97rem;
    }

    .profile {
        width: 9rem;
    }

    .ankur {
        font-size: 1.1rem;
    }

    .info {
        text-align: center;
        font-size: 0.9rem;
        margin: 0 10px 30px;
        padding: 1.5rem;
    }

    #sample1,
    #sample2,
    #sample3,
    #sample4,
    #sample5 {
        width: 90vw;
    }

    .projects {
        display: flex;
        justify-content: center;
        margin: 70px 2rem;
    }

    .head {
        font-size: 0.7rem;
    }

    .icons {
        margin: 30px 0;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .icon {
        width: 2rem;
    }

    .endtext {
        font-size: 0.7rem;
        text-align: justify;
        margin: 2rem 1rem
    }

    .more {
        font-size: 0.7rem;
        padding: 0.5rem 1rem;
        margin: 2rem auto;
    }
    .EndImg{
        display: flex;
        width: 2rem;
    }
    footer{
        font-size: 0.7rem;
    }

}

